input{
    width:5rem;
    height:3rem;
    margin-bottom:0.5rem;
    margin-right:0.2rem;
    border-radius:10px;
    background-color:#c6ffff;
}

#result{
    width:21rem;
    height:2rem;
    margin-bottom:0.5rem;
    border-radius:10px;
    background-color:white;
    color:blue;
    text-align:right;
    font-size:1.5rem;
}

.underButton{
    width:10.5rem;
    height:2rem;
    margin-right:0.2rem;
    border-radius:10px;
    background-color:#c6ffff;
}

.numButton:hover,.calButton:hover,.underButton:hover{
    transform:scale(1.1);
}